# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. 
2. 
3. 
4. 
5. 
6. 
7. 
8. 
9. 
10.

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [1]:
# Code here
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import style
import sqlite3

df = pd.read_csv("tv_shows.csv")

print("Initial DataFrame info:")
print(df.info())

df.drop(columns=['Unnamed: 0'], inplace=True)

df.columns = df.columns.str.replace(' ', '_').str.replace('+', 'plus')

print("\nUpdated DataFrame info:")
print(df.info())

Initial DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
None

Updated DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disneyplus       5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB
None

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [2]:
# Code here
conn = sqlite3.connect('tv.db')
df.to_sql('shows', conn, if_exists='replace', index=False)
conn.close()

print("DataFrame has been written to tv.db in the shows table.")

DataFrame has been written to tv.db in the shows table.

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [3]:
# Code Here
conn = sqlite3.connect('tv.db')
query = "SELECT * FROM shows LIMIT 20;"
top_20_records = pd.read_sql_query(query, conn)

print(top_20_records)

conn.close()

    ID                       Title  Year  Age    IMDb Rotten_Tomatoes  \
0    1                Breaking Bad  2008  18+  9.4/10         100/100
1    2             Stranger Things  2016  16+  8.7/10          96/100
2    3             Attack on Titan  2013  18+  9.0/10          95/100
3    4            Better Call Saul  2015  18+  8.8/10          94/100
4    5                        Dark  2017  16+  8.8/10          93/100
5    6  Avatar: The Last Airbender  2005   7+  9.3/10          93/100
6    7              Peaky Blinders  2013  18+  8.8/10          93/100
7    8            The Walking Dead  2010  18+  8.2/10          93/100
8    9                Black Mirror  2011  18+  8.8/10          92/100
9   10          The Queen's Gambit  2020  18+  8.6/10          92/100
10  11                  Mindhunter  2017  18+  8.6/10          90/100
11  12                   Community  2009   7+  8.5/10          90/100
12  13                      Narcos  2015  18+  8.8/10          90/100
13  14                   Shameless  2011  18+  8.5/10          90/100
14  15                 Money Heist  2017  18+  8.3/10          90/100
15  16          Marvel's Daredevil  2015  18+  8.6/10          90/100
16  17                     Lucifer  2016  16+  8.1/10          90/100
17  18                Supernatural  2005  16+  8.4/10          89/100
18  19                 The Witcher  2019  18+  8.2/10          89/100
19  20                       Ozark  2017  18+  8.4/10          89/100

    Netflix  Hulu  Prime_Video  Disneyplus  Type
0         1     0            0           0     1
1         1     0            0           0     1
2         1     1            0           0     1
3         1     0            0           0     1
4         1     0            0           0     1
5         1     0            1           0     1
6         1     0            0           0     1
7         1     0            0           0     1
8         1     0            0           0     1
9         1     0            0           0     1
10        1     0            0           0     1
11        1     1            1           0     1
12        1     0            0           0     1
13        1     1            1           0     1
14        1     0            0           0     1
15        1     0            0           0     1
16        1     0            0           0     1
17        1     0            0           0     1
18        1     0            0           0     1
19        1     0            0           0     1

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [4]:
# Code here
conn = sqlite3.connect('tv.db')

create_table_query = """
CREATE TABLE IF NOT EXISTS watchlist (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    title TEXT,
    importance_rank INTEGER
);
"""
conn.execute(create_table_query)

watchlist_items = [
    ("Show A", 10),
    ("Show B", 9),
    ("Show C", 8),
    ("Show D", 7),
    ("Show E", 6),
    ("Show F", 5),
    ("Show G", 4),
    ("Show H", 3),
    ("Show I", 2),
    ("Show J", 1)
]

insert_query = "INSERT INTO watchlist (title, importance_rank) VALUES (?, ?);"
conn.executemany(insert_query, watchlist_items)

conn.commit()

select_query = "SELECT * FROM watchlist;"
watchlist_records = pd.read_sql_query(select_query, conn)

print(watchlist_records)

conn.close()

   id   title  importance_rank
0   1  Show A               10
1   2  Show B                9
2   3  Show C                8
3   4  Show D                7
4   5  Show E                6
5   6  Show F                5
6   7  Show G                4
7   8  Show H                3
8   9  Show I                2
9  10  Show J                1

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [9]:
# Code here
import pandas as pd

df = pd.read_csv("tv_shows.csv")
df.drop(columns=['Unnamed: 0'], inplace=True)
df.columns = df.columns.str.replace(' ', '_').str.replace('+', 'plus')

total_shows = len(df)
streaming_counts = df[['Netflix', 'Hulu', 'Prime_Video', 'Disneyplus']].sum()
streaming_percentages = (streaming_counts / total_shows) * 100

results = pd.DataFrame({
    'Count': streaming_counts,
    'Percentage': streaming_percentages
}).reset_index()

results.columns = ['Streaming_Service', 'Count', 'Percentage']

print(results)

  Streaming_Service  Count  Percentage
0           Netflix   1971   36.717586
1              Hulu   1621   30.197466
2       Prime_Video   1831   34.109538
3        Disneyplus    351    6.538748


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [15]:
# Code here
import pandas as pd
import sqlite3

conn = sqlite3.connect('tv.db')

shows_df = pd.read_sql_query("SELECT * FROM shows;", conn)
watchlist_df = pd.read_sql_query("SELECT * FROM watchlist;", conn)

conn.close()

print("Watchlist DataFrame Columns:")
print(watchlist_df.columns)

print("Shows DataFrame Columns:")
print(shows_df.columns)

joined_df = watchlist_df.merge(shows_df, on='Title', how='inner')

print("Joined DataFrame:")
print(joined_df.head())

streaming_counts = joined_df[['Netflix', 'Hulu', 'Prime_Video', 'Disney+']].sum()
total_watchlist_count = len(watchlist_df)
watchlist_percentages = (streaming_counts / total_watchlist_count) * 100

results = pd.DataFrame({
    'Count': streaming_counts,
    'Percentage': watchlist_percentages
}).reset_index()

results.columns = ['Streaming_Service', 'Count', 'Percentage']

# Print the results
print("Watchlist Analysis:")
print(results)

Watchlist DataFrame Columns:
Index(['id', 'title', 'importance_rank'], dtype='object')
Shows DataFrame Columns:
Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix',
       'Hulu', 'Prime_Video', 'Disneyplus', 'Type'],
      dtype='object')

KeyError: 'Title'

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- *your_answer*

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- *your_answer*

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- *your_answer*

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- *your_answer*

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [ ]:
# Code Here